footer {
    color: var(--color1);
    text-transform: uppercase;
    font-weight: bold;
    height: 40px;
    background-color: var(--color4);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-family: 'Libre Bodoni', serif;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    position: fixed;
    width: 100%;
    bottom: 0;

}